# Core functionality - changes here should be rare!
/src/app.py                   @imuteremuka
/src/backend/database.py      @imuteremuka
/src/backend/routers/auth.py  @imuteremuka

# The frontend will need refactored soon to be more object oriented.
/src/static/   @imuteremuka
